@CHARSET "UTF-8";

body {
	font-family: 'Work Sans', Roboto;
	color: white;
}

.profile-pic {
	height: 380px;
	text-align: center;
	padding: 20px;
	background-color: #202123;
}

.profile-pic img {
	width: 200px;
	height: 200px;
	border-radius: 100px;
}

.contact {
	height: 260px;
	text-align: left;
	background-color: #AD393A;
	color: white;
	font-size: 15px;
	padding-left: 30px !important;
	padding-top: 60px !important;
}

.mobile-no, .email-id, .home {
	margin-top: 15px !important;
	font-family: 'Work Sans', Roboto;
	font-size: 14px;
}

.summary-panel {
	background-color: #36383C;
	height: 470px;
	margin-top: 10px;
}

.summary-panel .title {
	color: white;
}

.contact .icon {
	font-size: 20px;
}

.name {
	font-size: 30px;
	color: white;
	font-family: 'Source Sans Pro';
	margin-top: 40px;
}

.title {
	font-family: 'Source Sans Pro';
	color: #36383C;
}

.content-text {
	font-family: 'Work Sans';
}

.profession {
	font-size: 14px;
	color: white;
	font-family: 'Work Sans', Roboto;
}

.home-container {
	padding: 10px;
}

.view-container {
	height: 640px;
	background-color: #2F948F;
	border: solid 1px #2F948F;
	color: white;
}

.next-page {
	font-size: 20px;
	width: 50px;
	height: 50px;
	text-align: center;
	padding-top: 12px;
	border-radius: 50px;
	color: #36383C;
}

.next-page-old {
	font-size: 20px;
	border: solid 1px #36383C;
	width: 50px;
	height: 50px;
	text-align: center;
	padding-top: 12px;
	border-radius: 50px;
	color: #2F948F;
	background-color: #36383C;
}

.next-page:HOVER {
	cursor: pointer;
	color: white;
}

.education-panel{
	padding: 20px;
}

.degree{
	font-size: 25px;
}

.degree-title{
	font-size: 40px;
}

.score{
	color: white;
	font-size: 30px;
}

.college{
	color: white;
}

#content-panel{
	padding-left:10px;
	min-height: 570px;
}

a {
	text-decoration: none;
	color: white !important;
}