<div class="home-container">
	<div id="content-panel" class="row">
		<div class="row" style="margin-bottom: 30px">
			<div class="col-md-12" align="center">
				<h2 class="title">Education</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="col-md-12 education-panel" align="center">
					<div class="row">
						<div class="col-md-12 title degree-title">
							B.TECH
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 title degree">
							Mechanical
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 title score">
							7.6<span style="font-size: 12px;margin-left: 5px;">CGPA</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 content-text title college">
							College Of Engineering Pune
						</div>
					</div>
				</div>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="col-md-5">
				<div class="col-md-12 education-panel" align="center">
					<div class="row">
						<div class="col-md-12 title degree-title">
							HSC
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 title score">
							89.50%
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 content-text title college">
							RLT College Of Science
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-5">
				<div class="col-md-12 education-panel" align="center">
					<div class="row">
						<div class="col-md-12 title degree-title">
							SSC
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 title score">
							85.46%
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 content-text title college">
							Mount Carmel High School
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer" class="row">
		<div class="col-md-1" ng-controller="NavigationController">
			<div class="glyphicon glyphicon-chevron-left next-page" ng-click="load('home')"></div>
		</div>
		<div class="col-md-10">
		</div>
		<div class="col-md-1" ng-controller="NavigationController">
			<div class="glyphicon glyphicon-chevron-right next-page" ng-click="load('projects')"></div>
		</div>
	</div>
</div>