<div class="home-container">
	<div id="content-panel" class="row">
		<div class="row">
			<div class="col-md-11">
				<h2 class="title">About ME</h2>
			</div>
		</div>
		<div class="row" >
			<div class="col-md-6">
				<div class="row content-text" style="padding-left: 10px;">
					A quick learning software developer having excellent debugging, analytical and communication skills with readiness to learn new technologies and languages within minimum possible time.
				</div>
				<div class="row">
					<h2 class="title" style="padding-left: 10px;">Experience</h2>
				</div>
				<div class="row" ng-controller="ExperienceCalculator">
					<div class="col-md-6 content-text">{{experience}}</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h2 class="title">Technical Skills</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<h4 class="title">Laguages</h4>
					</div>
					<div class="col-md-6">
						<h4 class="title">Web Technologies</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 content-text">
						Java, JavaScript & Groovy
					</div>
					<div class="col-md-6 content-text">
						J2EE, RESTful web services, Microservices
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<h4 class="title">Frameworks</h4>
					</div>
					<div class="col-md-6">
						<h4 class="title">Database</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 content-text">
					AngularJS, JQuery, Spring, Hibernate, TestNG & Junit, Jersey REST
					</div>
					<div class="col-md-6 content-text">
						MySQL & MongoDB
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<h4 class="title">Servers</h4>
					</div>
					<div class="col-md-6">
						<h4 class="title">Build Tools</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 content-text">
					Apache Tomcat 8.0
					</div>
					<div class="col-md-6 content-text">
						Gradle
					</div>
				</div>
			</div>
			<div class="col-md-6 content-text">
				<div class="row">
					<div class="col-md-12 summary-panel">
						<h2 class="title" style="padding-left: 0px;">Summary</h2>
						<ul class="content-text">
							<li>
								Ability to learn new technology and domain quickly enables me to adapt to dynamic business needs
							</li>
							<li>
								Worked in onsite location in O2 UK wherein acquired the skills to manage a live application and quickly resolve show stopper issues 
							</li>
							<li>
								Received excellence award for outstanding performance in AHBX project in Accenture 
							</li>
							<li>
								Have a sound knowledge of Agile Practices and tools like JIRA
							</li>
							<li>
								Good hold over open source frameworks like Spring, AngularJS, Jersey, Gradle 
							</li>
							<li>
								I deliver quality code following standard Test Driven Development Practices (TDD) both backend and and front­end 
							</li>
							<li>
								Delivered CVoS project within given deadlines and utmost quality despite of the complex business scenarios and edge cases 
							</li>
						</ul>
					</div>
				</div>
			</div>	
		</div>
	</div>
	<div id="footer" class="row" ng-controller="NavigationController">
		<div class="col-md-1">
		</div>
		<div class="col-md-10">
		</div>
		<div class="col-md-1">
			<div class="glyphicon glyphicon-chevron-right next-page" ng-click="load('education')"></div>
		</div>
	</div>
</div>