<div class="home-container">
	<div id="content-panel" class="row">
		<div class="row" style="margin-bottom: 30px">
			<div class="col-md-11" align="center">
				<h2 class="title">{{title}}</h2>
			</div>
		</div>
		<div class="row" style="margin-bottom: 10px">
			<div class="col-md-5 project-panel" ng-click="viewDetails(project.id)" ng-repeat="project in projects">
				<div class="row">
					<div class="col-md-12">
						<h3 class="title">{{project.name}}</h3>
					</div>
					<div class="col-md-12">
						<h4 class="content-text">{{project.duration}}</h4>
					</div>
					<div class="col-md-12">
						<span class="content-text">{{project.technologies}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer" class="row">
		<div class="col-md-1" ng-controller="NavigationController">
			<div class="glyphicon glyphicon-chevron-left next-page" ng-click="load('education')"></div>
		</div>
		<div class="col-md-10">
		</div>
		<div class="col-md-1" ng-controller="NavigationController">
			<div class="glyphicon glyphicon-chevron-right next-page" ng-click="load('projects')"></div>
		</div>
	</div>
</div>